body{
    font-family: 'roboto',sans-serif;
    background-image: url('Empty operating room waiting for surgeons to….jpeg');
    background-size: cover;
    margin:0;
    padding:0;
}
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    background-color: white;
}
header a{
    color:#6090eb;
    position: relative;
    margin: 0 10px;
    text-decoration: 0;
    font-size: 20px;
}
header a:hover{
    color:#b361e9;
}
.logo .img{
    width:100px;
    margin:20px ;
}
.logo{
    font-size: 35px;
}
.container{
    background-color: white;
    width: 40%;
    padding: 15px;
    margin: 20px auto;
    border-radius: 8px;
    justify-items: center;
}
label{
    font-weight: bold;
}
input,select,textarea{
    width:90%;
    padding:5px;
    margin-top: 5px;
    border:1px solid #ccc;
}
input[type="submit"]{
    background-color: #4fb3a2;
    padding:10px ;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:14px;
    margin-top:15px;
}
 .submit:hover{
    background-color: #219150;
 }
 footer{
    background-color: white;
    padding:10px 5%;
 }
 footer p{
    text-align: center;
 }
 